* {
  margin: 0;
  padding: 0;
}

.clock {
  /* height: 100vh; */
  /* 
  * Display F l e x
  */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10101E;
  /* flex-direction: column; */
}

/* The Main Box */
.datetime {
  color: #fff;
  width: 340px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  /* 
  * Reflect
  (don't Work in FireFox)
  */
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, .2));
  /* Transition */
  transition: .5s;
  transition-property: background, box-shadow;
}
/* The Main Box (Hover) */
.datetime:hover {
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 45px;
  /* 
  * Display F l e x
  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child {
  background: #2E94E3;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 5px;
  border-radius: 5px;
}

.IEEE {
  text-align: center;
  font-size: .9em;
  font-style: italic;
}