* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Open Sans';
  /* background-color: cornflowerblue; */
}

.background {
  height: 100vh;
  background-image: url('headerIMGs/keyboard_telephone_desktop_179668_1920x1080.jpg');
  background-size: cover;
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.486);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* z-index: 0; */
}
.header-area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  position: relative;
  z-index: 10;
  font-size: 1.3EM;
  text-transform: uppercase;
}
.header-area a {
  text-decoration: none;
  color: #fff;
}
.btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.background-details {
  color: #fff;
  text-align: center;
  /* Center  it */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.background-details h1 {
  margin-bottom: 8px;
  font-size: 5em;
}
.background-details p {
  font-size: 1.3em;
  margin-bottom: 8px;
}
.btn:hover {
  background-color: #3e8e41;
  color: white;
}
nav {
  background-color: aqua;
  /* width: 100%; */
  /* height: 60px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div.logo {
  /* padding: 10px; */
  margin: .5rem;
  font-size: 35px;
  font-weight: 700;
}

div.pageLinks {
  height: 100%;
}

nav ul {
  display: flex;
  /* justify-content: space-between; */
}

nav ul li {
  list-style: none;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}

nav ul a {
  display: block;
  padding: 1rem;
  color: #111;
  text-decoration: none;
}

nav ul li:hover {
  background-color: aquamarine;
  color: #fff;
  /* ? Border */
}

/** Toogle NavBar */
.toggle {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  /*
  */
  position: absolute;
  top: .57rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
}

.toggle:hover {
  background-color: cornflowerblue;
}

.toggle span.bar {
  background-color: whitesmoke;
  height: 3px;
  width: 100%;
}
/* ? Toogle NavBar **/


/*
* Change Layout Section
*/
section.changeLayout {
  /* min-height: 40px; */
  background-color: cornflowerblue;
  /* flex properties */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section.changeLayout div {
  text-align: center;
  width: 33.333333333333%;
  padding: 10px 0;
  font-size: 1.2em;
  cursor: pointer;
}
section.changeLayout div:hover {
  background-color: darkblue;
  color: #fff;
}


main {
  /* height: 120vh; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}


/*
* The Default Layout
*/
main .default {
  flex-basis: 410px;
  text-align: center;
  border: 2px solid;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
main .default img {
  width: 100%;
  height: 70%;
}
main .default a {
  text-decoration: none;
  color: #111;
}
main .default:hover {
  border-color: blue;
}

/* Footer */
footer {
  /* height: 50px; */
  background-color: darkblue;
  /* F L E X */
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.team {
  text-align: center;
  padding: 15px;
  color: #fff;
}
.team div:first-child {
  font: 2em sans-serif;
}

.goUp {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}
.goUp-overlay {
  /*width: 100%;
  height: 100%;*/
  z-index: 5;
}
.goUp:hover .goUp-overlay {
  background-color: rgba(190, 190, 190, 0.7);
}
.goUp img {
  width: 100%;
}
footer a.goUp {
  padding: 5px;
  font-size: 1.6em;
  text-decoration: none;
}

/*  */
@media (max-width: 700px) {
  /* 
  .toggle {
    display: flex;
  }
  */
  nav {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
  }
  .changeLayout #horizontal {
    display: none;
  }
  .changeLayout #on-hover {
    flex-basis: 50%;
  }
  .changeLayout #default {
    flex-basis: 50%;
  }
  div.pageLinks {
    width: 100%;
  }
  div.pageTitle {
    width: 100%;
  }
  ul {
    flex-direction: column;
    width: 100%;
  }
  footer{
    flex-direction: column;
  }
}

/*
* Horizontal Layout
*/

main div.horizontal {
  margin: 10px;
  border: 2px solid;
}
main div.horizontal:hover {
  border-color: rgb(14, 59, 209);
}
main div.horizontal a {
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #111;
}
main div.horizontal img {
  /* width: 50%; */
}
main .horizontal .details {
  /* width: 50%; */
  text-align: center;
}

/*
* Hover Layout
*/
.blogHover {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  margin: 5px;
  border-radius:10px;
}

.blogHover .overlayHover {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 10px;
}

.blogHover:hover .overlayHover{
  opacity: 1;
}

.blogHover img{
  width: 100%;
  /* Image Radius */
  border-radius:10px;
  height: 100%;
}

.blogHover .details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.details h3 {
  opacity: 1;
}
.blogHover:hover .details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.detailsHover h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.blogHover .details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}