*
{
  margin: 0;
overflow-x:hidden;

}
body
{
  background-color: PowderBlue;
}
.parent div,.heading2
{
  background-color:#191970;
  padding: 5px;
  color:#F0FFFF;
  border-radius:10px;
  margin:5px;
}
.parent:first-letter,.heading2::first-letter
{
  font-size: 50px;
  color:black;

}
 img[alt="robots image"]
 {
  margin:0 5px;
  width:1510px;
  max-height:500px;
}
hr{
  margin:5px;

}
.secondchild:first-letter
{
  font-weight: bold;
  font-size: 20px;
  line-height:10px;
  margin:5px;
}
.secondchild
{
  background-color:#F0FFFF;
  margin:5px;
  border-radius: 10px;
  color:#000080;
  border:1px solid black;
}
.thirdchild,.fourthchild
{
  margin: 10px 520px;
  max-width:335px;
  background-color: #C0C0C0;
  border-radius: 10px;
  padding: 10px;
  font-style: italic;
  color: #000080;
}
.secondparent
{
  background: #FFB6C1;
  padding: 10px;
}
ol li
{
  font-weight: bold;
  color: #000080;
  font-size: 20px;
}
.RoboticsButton
{
  /* margin: 0 650px; */
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #000000;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top:20px;
  right:20px;
  position: fixed;


}
.RoboticsButton:hover
{
  letter-spacing: 3px;
  background-color: red;
}
.links
{
  margin:5px;
  background-color:white;
  padding: 5px;
  word-spacing: 10px

}
span
{
  text-transform: uppercase;
  word-spacing: 5px;
  font-weight: bolder;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  color: #191970;
}
.links a:hover
{
  color:red;
  text-decoration: underline;

}
.writer
{
  text-align: center;

}
iframe
{
  margin: 0 530px;
}
.writer
{
  background-color: white;
}
